<div class='row'>
  <h1 class='center'><%= @job.title %></h1>
</div>
<hr />
<div class='row'>
  <div class='col s12 m6 l6 center'>
    <h6>Created By: <%= @job.employee_creator %></h6>
    <h5><%= @job.date_created %></h5>
  </div>
  <div class='col s12 m6 l6 center'>
    <h6>Notes: <%= @job.bio %></h6>
    <br />
    <h6>Materials: <%= @job.materials_needed %></h6>
  </div>
</div>

<% @job.pictures.each do |picture| %>
  <%= image_tag picture.image.url(:medium) %>
<% end %>
