<nav>
  <div class="nav-wrapper black">
    <a href="/"><img id='lable' src="<%= asset_path('pic.jpg') %>"</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to "New", new_job_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <% if current_user.is_admin? %>
          <li><%= link_to "Admin", admin_index_path %> </li>
        <% end %>
        <li id='nav'><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li id='nav'><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if user_signed_in? %>
        <li><%= link_to "New", new_job_path %></li>
          <li><%= link_to 'Account', edit_user_registration_path %></li></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <% if current_user.is_admin? %>
            <li><%= link_to "Admin", admin_index_path %></li>
          <% end %>
        <% else %>
          <li id='nav'><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
